* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logoresting {
    width: 200px;

}

header {
    width: 90vw;
    margin: 0 auto;
}

body {
    width: 90vw;
}

.tabla {
    font-family: 'Klee One', cursive;
    border: solid #52b69a;
    position: relative;
    left: 500px;
    margin-top: 4rem;
    text-align: center;
    font-size: xx-large;
}

.tabla2 {
    font-family: 'Klee One', cursive;
    border: solid #52b69a;
    position: relative;
    left: 650px;
    margin-top: 4rem;
    text-align: center;
    font-size: xx-large;
}

.pindex {
    font-family: 'Klee One', cursive;
    line-height: 1.5;
    font-size: x-large;
    padding: 5px;
    position: relative;
    left: 100px;
}

p {
    font-family: 'Klee One', cursive;
    font-size: large;
}

h1 {
    position: relative;
    left: 100px;
    font-family: 'Coming Soon', cursive;
    font-size: xx-large;
    margin-top: 3rem;
    color: #081c15;
    font-weight: bold;
}

h2 {
    font-family: 'Coming Soon', cursive;

    font-weight: bold;
}

a {
    font-family: 'Klee One', cursive;
    text-decoration: none;
    color: #081c15;
}

.menu {
    width: 90vw;
    display: flex;
    height: 140px;
    margin: 0 auto;
    justify-content: space-between;
}

.menu li a:hover {
    color: white;
    background-color: #52b69a;
    border-radius: 5px;
}


.mainindex {
    text-align: center;
    width: 90%;
}

.imgindex {
    width: 100%;
    padding: 0.5rem;
    position: relative;
    left: 100px;
}

.sectionmain {
    margin-left: 100px;
    padding: 1rem;
    width: 90vw;
    display: flex;
    justify-content: space-around;
}

ul {
    font-family: 'Klee One', cursive;
    position: relative;
    left: 100px;
    list-style-type: none;
}

.titulos {
    font-size: xx-large;
    font-weight: bold;
    color: #081c15
}

footer {
    width: 90vw;
    position: relative;
    top: 200px;
    margin: 0 auto;
}

.logosfoot {
    width: 50px;
    margin: 10px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.mapa {
    width: 30vw;
    margin-top: 2rem;
    position: relative;
    left: 1200px;
    bottom: 34rem;
}

.listafoot {
    position: relative;
    bottom: 230px;

}

.lifoot {
    margin: 20px;
}

.letraform {
    font-family: 'Klee One', cursive;
}

.h2contacto {
    text-align: center;
}

.maincontacto {
    width: 90vw;
    margin-left: 70px;
}

.botoncontacto {
    background-color: #081c15;
    color: white;
    border: none;
}

.botoncontacto:hover {
    color: white;
    background-color: #52b69a;
    border-radius: 5px;
}

.h1servicios {
    text-align: center;
}
@media screen and (max-width:768px){
    .sectionmain {
        margin-left: 100px;
        padding: 1rem;
        width: 90vw;
        display: flex;
        flex-direction: column;
    }
}