* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logoresting {
    width: 200px;
margin-left: 60px;
}

header {
    width: 90vw;
    margin: 0 auto;
}

body {
    min-height: calc(100vh - 100px - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;


}

.tabla {
    font-family: 'Klee One', cursive;
    border: solid #52b69a;
    position: relative;
    left: 500px;
    margin-top: 4rem;
    text-align: center;
    font-size: xx-large;
}

.tabla2 {
    font-family: 'Klee One', cursive;
    border: solid #52b69a;
    position: relative;
    left: 650px;
    margin-top: 4rem;
    text-align: center;
    font-size: xx-large;
}

.pindex {
    font-family: 'Klee One', cursive;
    line-height: 1.5;
    font-size: x-large;
    padding: 5px;
    position: relative;
    left: 100px;
}

p {
    font-family: 'Klee One', cursive;
    font-size: large;
}

h1 {
    position: relative;
    left: 100px;
    font-family: 'Coming Soon', cursive;
    font-size: xx-large;
    margin-top: 3rem;
    color: #081c15;
    font-weight: bold;
}

h2 {
    font-family: 'Coming Soon', cursive;

    font-weight: bold;
}

a {
    font-family: 'Klee One', cursive;
    text-decoration: none;
    color: #081c15;
}

.menu {
    width: auto;
    display: flex;
    height: 140px;
    margin: 0 auto;
    justify-content: space-between;
    height: auto;
}

a:hover {
    color: white;
    background-color: #52b69a;
    border-radius: 5px;
}


.mainindex {
    text-align: center;
    width: 90%;
}

.imgindex {
    width: 90%;
    padding: 0.5rem;
    position: relative;
    left: 100px;
}

.sectionmain {
    font-family: 'Klee One', cursive;
    margin-left: 100px;
    padding: 1rem;
    width: auto;
    display: flex;
    justify-content: space-around;
}

ul {
    font-family: 'Klee One', cursive;
    position: relative;
    left: 100px;
    list-style-type: none;
}

.titulos {
    font-size: xx-large;
    font-weight: bold;
    color: #081c15
}

footer {
    width: 90vw;
    margin: 0 auto;
}

.containerFoot {
    width: 90vw;
    gap: 20px;
    justify-content: space-between;
}
.mapa{
    display: flex;
    justify-content: end;
}
.Lifoot{
    display: flex;
    align-items: center;
}

.letraform {
    font-family: 'Klee One', cursive;
}

.h2contacto {
    text-align: center;
}

.maincontacto {
    width: 90vw;
    margin-left: 70px;
}

.botoncontacto {
    background-color: #081c15;
    color: white;
    border: none;
}

.botoncontacto:hover {
    color: white;
    background-color: #52b69a;
    border-radius: 5px;
}

.h1servicios {
    text-align: center;
}

@media (min-width: 740px){
    body {
        align-items: center;
        justify-content: center;
}
footer{
    align-items: center;
        justify-content: center;
}
}
@media (min-width: 480px){
header{
    align-items: center;
        justify-content: center;

}

    body {
        align-items: center;
        justify-content: center;
}
footer{
    align-items: center;
        justify-content: center;
}
}



