header {
    width: 90%;
    margin: 0 auto;

    .menu {
        color: #184e77;
        width: auto;
        display: flex;
        height: 140px;
        margin: 0 auto;
        justify-content: space-between;
        height: auto;

        .logoresting {
            width: 200px;
            margin-left: 60px;
        }

    }
}