main {
    div {
        div {
            div {
                .imgindex {
                    border-radius: 20px;
                    width: 100%;
                    filter: blur(0.5px);
                    box-shadow: 0 0 2px;
                }
            }
        }
    }

    .pindex {
            font-family: 'Klee One', cursive;
            line-height: 1.5;
            font-size: x-large;
            padding: 5px;
            position: relative;
            text-align: center;

            .bordes {
                border-bottom: gray solid 1px;
                max-width: 90%;
            }

        }
        .sectionmain {
            font-family: 'Klee One', cursive;
            padding: 1rem;
            width: auto;
            display: flex;
            justify-content: space-around;
            .bordes{
                border-bottom: gray solid 1px;
                max-width: 90%;
            }
        }

}