

.blanco {
    color: white;
}




.mainindex {
    text-align: center;
    width: 100%;
}







.titulos {
    font-size: xx-large;
    font-weight: bold;
    color: #081c15
}





.mapa {
    display: flex;
    justify-content: end;
}

.Lifoot {
    color: white;
    display: flex;
    align-items: center;
}

.letraform {
    font-family: 'Klee One', cursive;
}

.h2contacto {
    text-align: center;
    margin-top: 2rem;
}

.formcontacto {
    width: 100%;
    display: flex;
    justify-content: center;
}

.botoncontacto {
    background-color: #081c15;
    color: white;
    border: none;
}

.botoncontacto:hover {
    color: white;
    background-color: #52b69a;
    border-radius: 5px;
}


.bordes {
    border-bottom: gray solid 1px;
    max-width: 90%;
}