*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logoresting{
    width: 200px;
    
}
header{
    width: 90%;
    margin: 0 auto;
}
.tabla{
    font-family: 'Klee One', cursive;
    border: solid  #52b69a;
    position: relative;
    left: 500px;
    margin-top: 4rem;
    text-align: center;
    font-size: xx-large;
}
.tabla2{
    font-family: 'Klee One', cursive;
    border: solid  #52b69a;
    position: relative;
    left: 650px;
    margin-top: 4rem;
    text-align: center;
    font-size: xx-large;
}
.formulario{
    position: relative;
    left: 600px;
}
p{
    font-family: 'Klee One', cursive;
    line-height: 1.5;
    font-size: x-large;
    padding: 5px;
    position: relative;
    left: 100px;

}
h1{
    position: relative;
    left: 100px;
    font-family: 'Coming Soon', cursive;
    font-size: xx-large;
    margin-top: 3rem;
    color: #081c15;
}
h2{
    font-family: 'Coming Soon', cursive;
    position: relative;
    left: 100px;
}
a{
    font-family: 'Klee One', cursive;
    text-decoration: none;
    color:#081c15;
}
.menu{
    width: 90%;
    padding: 5px;
    margin: 1rem;
    position: relative;
    left: 900px;
   bottom: 5rem;
}
.menu li a:hover{
    color: white;
    background-color: #52b69a;
    border-radius: 5px;
}
.mainindex{
   text-align: center;
}
.imgindex{
  width: 90%;
  }

ul{
    font-family: 'Klee One', cursive;
    position: relative;
    left: 100px;
    list-style-type: none;
}
.lista{
    display: inline-block;
    margin-left: 10px;
}
.titulos{
font-size: xx-large;
font-weight: bold;
color: #081c15
}
footer{
    position: relative;
    top: 200px;
    width: 90%;
    margin: 0 auto;
}
.logosfoot{
    width: 50px;
    margin: 10px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.mapa{
margin-top: 2rem;
position: relative;
left: 1000px;
bottom: 34rem;
}
.listafoot{
    position: relative;
    bottom: 230px;
    
}
.lifoot{
    margin: 20px;
}